<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syswin.temail.notification.main.infrastructure.NotificationOssMapper">

  <delete id="deleteTemail" parameterType="java.lang.String">
    DELETE FROM `event` WHERE `to` = #{to};
    DELETE FROM `topic_event` WHERE `to` = #{to};
    DELETE FROM `unread` WHERE `to` = #{to};
    DELETE FROM `member` WHERE `temail` = #{to}
  </delete>

</mapper>